body {
 background-color:#eeeeee
 color: #800000;
 font-family: Arial;
}

.subBanner {
 text-indent: 10px;
 font-weight: bold;
 border-left: 2px solid #eeaa88;
 border-bottom: 1px solid #eeaa88;
}

.barctl {float: right; padding-right: 8px;}

a:link {color:#800000;}
a:hover {color:#ffffff; background-color:#ffcc99; position:relative;}
